/* Table of Contents

	1) Parent Element
	2) Navigation Bar
	3) Search Bar
	4) Page Toggle
	5) Content

	### Unresolved Issues (13July2016, CAB) ###

	1) Responsive Page causes Search Bar, Page Toggle, & Content to collapse on itself.
	2) Responsive NavBar Button has issues with Post/Account being 'position: absolute'. Elements drop down from right hand side and break page.
	3) Cannot get .fa-star-o to fill to solid grey. 
	4) Unable to fix formatting of Page Toggle to desgin specifications.
	5) Unsure why NavBar CSS is unresponsive unless '!important' is used.
*/


/* ---------- Parent Element ------------ */
/* Anything present in the element will be the primary styling unless specified in a child element. */

body
{
	font-size: 22px;
	margin: 0px;
}


/* ---------- Navigation Bar ------------ */

.navbar-brand
{
	color: black !important;
	font-size: 22px !important;
}

ul
{
	position: absolute;
	right: 0px;
}

.navbar-nav a
{
	font-size: 22px !important;
	color: purple !important;
}

/* ---------- Search Bar ------------ */

.searchBar
{
	margin-top: 30px;
	margin-left: 100px;
	width: 50%;
	height: 20px;

}

.searchBar input
{
	width: 90%;
	height: 40px;
}

/* ---------- Page Toggle ------------ */

.pageToggle
{
	border: 1px solid black;
	display: inline-block;
	margin-top: 60px;
	margin-left: 100px;
	text-align: center;
	width: 35%;
	padding: 10px;
}

/* ---------- Content ------------ */

.content
{
	display: inline-block;
	margin-top: 60px;
	margin-left: 100px;
}

.content a
{
	font-weight: bold !important;
	color: blue;
}

.fa-star-o
{
	/*Trying to figure out how to get the stars to be filled in solid grey */
}

.fa-star-o:hover
{
	color: yellow;
}

.jobs
{
	display: block;
}

.jobs p
{
	color: grey;
}