/* ---------- Navigation Bar CSS ------------ */

.navbar-header a
{
	font-size: 22px;
}

.navbar-brand
{
	color: black !important;
}

ul
{
	position: absolute;
	right: 0px;
}

.navbar-nav a
{
	font-size: 22px !important;
	color: purple !important;
}





/* ---------- Search Bar CSS ------------ */

.searchBar
{
	margin-top: 30px;
	margin-left: 100px;
	width: 50%;
	height: 20px;

}


/* ---------- Page Toggle CSS ------------ */

.pageToggle span
{
	display: inline-block;
	margin-top: 30px;
	margin-left: 100px;
	font-size: 18px;
	text-align: center;
}

.pageToggle button
{
	display: inline-block;
	margin-top: 30px;
	margin-left: 100px;
	font-size: 18px;
}

/* ---------- Content CSS ------------ */

.content
{
	display: inline-block;
	margin-top: 30px;
	margin-left: 100px;
	font-size: 18px;
}

.content a
{
	font-weight: bold !important;
	color: blue;
}

.fa-star-o
{
	/*Trying to figure out how to get the stars to be colored solid grey */
}

.fa-star-o:hover
{
	color: yellow;
}

.jobs
{
	display: block;
}

.jobs p
{
	color: grey;
}